* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: linear-gradient(#00bfe0, #006d8f) no-repeat;
}
/* start navbar */
.main-head {
  width: 100%;
  top: 0;
}
.main-head .main-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 9909;
}
.main-head .main-nav {
  border-bottom: #fff 1px solid;
  top: 0;
}
.main-nav .logo {
  margin: 10px 25px;
}
.main-nav .logo a {
  text-decoration: none;
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}
.main-nav .nav-links ul {
  margin: 10px 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main-nav .nav-links ul a {
  position: relative;
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  margin-right: 10px;
  padding: 7px;
}
.nav-links a::before,
.nav-links a::after {
  position: absolute;
  content: "";
  z-index: -1;
}
.nav-links a::after {
  height: 0;
  left: 0;
  top: 0;
  transition: 0.6s;
  width: 100%;
  border-radius: 7px;
}
.nav-links a:hover::after {
  /* box-shadow: inset -10.5em 0 0 0 #ff96ad, inset 10.5em 0 0 0 #ff96ad; */
  height: 100%;
  background-color: #07254f;
}
/* end navbar */
/* sratr intro */
.web-container {
  text-align: center;
  margin-top: 20px;
}
.web-container .title {
  text-align: center;
  margin-top: 100px;
}
.web-container .title h2 {
  color: #fff;
  font-size: 35px;
  font-weight: 800;
}
.web-container .title p {
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}
.social-icons ul {
  margin-top: 40px;
  margin-left: 50px;
}
.social-icons ul a {
  font-size: 30px;
  display: inline-block;
  text-decoration: none;
  margin-right: 20px;
  color: #000;
  transition: 0.5s ease-in;
}
.social-icons ul .facebook:hover {
  color: rgb(40, 40, 139);
}
.social-icons ul .insta:hover {
  color: rgb(234, 7, 102);
}
.social-icons ul .github:hover {
  color: rgb(4, 4, 120);
}
.social-icons ul .whats:hover {
  color: rgb(13, 213, 96);
}
.social-icons ul .linked:hover {
  color: rgb(6, 6, 241);
}
/* end intro */
/* start cards section */
.web-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.web-cards .web-card {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-left: 120px;
  cursor: pointer;
  transition: 0.7s;
}
.web-cards .web-card:hover {
  background-color: #006d8f;
}
.web-cards .web-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 0;
  padding: 10px;
}
.web-cards .web-card .text {
  text-align: center;
  padding: 15px;
}
.web-cards .web-card .text h2 {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
  margin: 10px;
}
.web-cards .web-card .text p {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
}
/* .web-cards .web-card .text a {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  padding: 10px 0px;
  text-align: center;
  text-decoration: none;
  width: 100px;
  margin-top: 15px;
  transition: 0.5s ease-out;
}
.web-cards .web-card .text a:hover {
  letter-spacing: 1px;
} */
.btn {
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: none;
  text-decoration: none;
  font-weight: 500;
  padding: 15px;
  border-radius: 50px;
  text-align: center;
  margin-top: 25px;
  transition: 0.5s;
  width: 200px;
  cursor: pointer;
}
.btn a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
  transition: 0.5s;
}
.btn:hover {
  background-color: #29323c;
  transition: 0.5s;
}
/* end cards section */
/* start vistors */
.visitors h2 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #fff;
  text-align: center;
}
.visitors .visit {
  text-align: center;
  padding: 30px;
}
.visit h2 {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border-radius: 50%;
  background-color: #29323c;
  margin-top: 0px;
}
.visit p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
/* end vistors */
/* srart footer */
.footer {
  display: flex;
  justify-content: space-around;
  background-color: #0f0538;
  padding: 30px;
  width: 100%;
}
.footer .title {
  width: 10%;
}
.footer .title h2 {
  font-size: 25px;
  font-weight: 500;
  color: #fff;
}
.footer .title span {
  font-size: 30px;
  color: #7c0722;
  font-weight: 800;
}
.footer .servise-links h2 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #7c0722;
}
.footer .servise-links ul {
  list-style: circle;
  margin: 10px;
}
.footer .servise-links ul li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  margin-top: 7px;
  transition: 0.5s;
}
.footer .servise-links ul li a:hover {
  text-decoration: underline;
  color: #007380;
}
.best-footer h2 {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 0.5px solid #7c0722;
}
.best-footer ul {
  list-style: circle;
  margin: 10px;
}
.best-footer ul li a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  margin-top: 7px;
  transition: 0.5s;
}
.best-footer ul li a:hover {
  text-decoration: underline;
  color: #007380;
}
/* End footer */
/* start responsive */
@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  .main-nav .logo a {
    font-size: 16px;
  }
  .main-nav .logo a img {
    width: 20px;
    height: 20px;
  }
  .main-nav .nav-links ul {
    margin: 10px;
  }
  .main-nav .nav-links ul a {
    font-size: 12px;
  }
  .web-cards .web-card {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15px;
  }
  .web-container .title {
    padding: 20px;
    text-align: center;
  }
  .web-cards .web-card img {
    width: 250px;
    height: 250px;
    margin-left: 80px;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
  .footer .title {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  .footer .servise-links {
    margin-bottom: 20px;
  }
}
/* end responsive */
